body {
  background-color: lightyellow;
  background: url("https://cdn.pixabay.com/photo/2021/04/03/12/12/honeycomb-6147355_960_720.jpg");
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
  background-color: yellow;
  border-radius: 50%;
  opacity: 0.9;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo- infinite 20s linear;
  }
} */

.App-header {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input {
  height: 30px;
  width: 200px;
  border-radius: 5px;
  margin: 10px;
  background-color:#FEDF4E;
  display: inline-block;
  font-size: 1.2em;
  display: flex;
  text-align: center;
  border: 5px solid black;
}

h2 {
  width: 30%;
  background-color: white;
  margin-bottom: -10px;
  padding: 10px 10px 30px 10px;
  border-radius: 10px;
}

.center-input {
  width: 100px;
}

.intro {
  background-color: white;
  opacity: 0.8;
  padding: 20px;
  width: 90%;
  border-radius: 10px;
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  opacity: 0.8;
  padding: 20px;
  width: 50%;
  border-radius: 10px;
}

form label {
  font-weight: bold;
}

.btn {
  background-color: #FED71B;
  color: black;
  border-radius: 5px;
  width: 150px;
  height: 40px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
  border: 5px solid black;
}

.btn:hover {
  background-color: black;
  color: #FED71B;
}

.link {
  text-decoration: none;
  color: darkgoldenrod;
}
.link:hover {
  color: #282c34;
  font-weight: bold;

}

.pangrams {
  /* background-color: #FED71B; */
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  opacity: 0.9;
  justify-content: center;
  align-items: center;
}

.all-words {
  /* background-color: #FED71B; */
  display: flex;
  flex-direction: column;
  opacity: 0.9;
  justify-content: center;
  align-items: center;
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  margin-top: -10px;
  padding: 20px;
  width: 90%;
}

li {
  list-style: none;
  padding: 5px;
  font-weight: 500;
  width: 100px;
  margin: 5px;
  background-color: #282c34;
  color: #FED71B;
  border-radius: 4px;
}

li:hover {
  font-weight: 900;
}